<html>
    <head>
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="static/css/dashboard.css">
	</head>
    <body class="mytrips_wrapper">
        <div class="mytrips"></div>
        <div role="main" class="pagecontent" style="bottom:0">
            <nav>
                <a id="logo" href="/dashboard"><img src="http://www.freeiconspng.com/uploads/--global-globe-plane-travel-worldwide-icon--icon-search-engine-1.png" /></a>
                <a class="nav" href="/">Logout</a>
                <a class="nav" href="/profile">Profile</a>                
                <a class="nav" href="/groups">Groups</a>
                <a class="nav" id="msg" href="/messages">Messages</a>
                <a class="nav" href="/dashboard">Dashboard</a>
                
            </nav>
            <header>
            <h1> Pack Up! Your Upcoming Trips:</h1> 
            </header>
            <ul class="ul-upcomingtrips">
            <% trips.forEach(function(item) { %>
                <li class="li-upcomingtrips">
                    <div>
                    <div><span> Origin City:</span> <%= item.origin %></div>
                    <div><span> Destination City:</span> <%= item.destination %></div>
                    <div><span> Start Date:</span> <%= item.ddate %></div>
                    <div><span> AirLine:</span> <%= item.airline %></div>
                    
                    </div>
                </li>
            <% }) %>
            </ul>   
        </div>
    </body>
</html>