body {
    margin: 0;
    position: relative;
}
.pagecontent {
    width: 100%;    
    position: absolute;
    bottom: 30%;
    text-align: center;
}
.addtrip {
   background-image: url("https://images.pexels.com/photos/34020/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-attachment: fixed;
    background-position: 95% 0%; 
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.mytrips {
    background-image: url("http://p1.pichost.me/i/23/1464712.jpg");
    background-attachment: fixed;
    background-position: 80% 60%; 
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    
}

.page-wrapper {
    background-image: url("http://caitflanders.com/wp-content/uploads/2016/05/intentional-lifestyle-bag.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 60%; 
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
nav {
    width: 100%;
    height: 50px;
    background: rgba(19, 35, 47, 0.9);
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px;
    position: fixed;
    top:0;
}
nav .nav{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    width: 7%;
    text-align: center;
    border-radius: 25px;
    border:1px solid white;
    color: #1ab188;
    padding: 10px;
    float: right;
    margin: 2px 20px 0 0
}
nav img {
    width: 50px;
    margin-left: 30px;
    float: left;
}
h1 {
    font-size: 70px;
    color: saddlebrown;
}
hgroup {
    display: block;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
}
h2 {
    margin-bottom: 0;
}
h3 {
    margin-top: 10px;
}
section {
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
   
}
.cust-button {
    text-decoration: none;
    z-index: 100;  
    background: rgba(19, 35, 47, 0.9);
    color: #1ab188;
    padding: 10px;
    width: 20%;
    max-width: 600px;
    border-radius: 18px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.7);
    float: left;
    font-size: 28px;
    font-weight: 700;
    border: 1px solid #a0b3b0;
}
.nav:hover, .cust-button:hover {
    border: 1px solid black;
    text-decoration: none;
    background: #1ab188;
    opacity: 0.9;
    color: white;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
}
.mytrips_wrapper .pagecontent {
    top: 25px;
}
.upcomingtrips  {
   display: block;
}
.upcomingtrips li {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    list-style-type: none;
    width: 60%;
    height: 100px;
    color: white;
    font-size: 20px;
    background: rgba(19, 35, 47, 0.9);
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px;
}
.mytrips_wrapper header h1 {
    color: white
}

.member-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.members {
    width: 50%;
    float: right;
}
.members li {
    width: 80%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
}

.searchHolder{
    width: 700px;
    height: 60px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.searchOrigin{
    width: 350px;
    height: auto;
    margin:0 auto;
    border-right: 1px solid;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: white;"
}
.searchDest{
    width: 350px;
    height: auto;
    border-left: 1px solid;
    background-color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

#inputOrigin{
    width: 85%;
    height: 100%;
    border: 0;
    outline:none;
    text-align:left;
    font-size: 20px;
    margin-left: 46px;
}
#inputDest{
    width: 70%;
    height: 100%;
    border: 0;
    outline:none;
    text-align: left;
    font-size: 20px;
    margin-left: 40px;
}
.findBtn{
    float: right;
    border: 0;
    outline:none;
    width: 55px;
    height: 55px;
    border-radius: 40px;
    margin-top: 2px;
    margin-right: 2px;
    background-color: #ff8e8d;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
}

.flex-item {
    margin-top: 50px;
    height: 300px;
    width: 600px;
    border-radius: 20px;
}


.innerContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-start;
}
.innerDivs{
    height: 100px;
    width: 600px;
}
.rows1_2{
    width: 295px;
    height: 100px;
    cursor: pointer;"
}
.row3{
   width: 195px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: blue;;
    font-weight: bold;
    cursor: pointer;"
}
.details{
   font-weight: bolder;
    font-size: 17px;
    line-height: 30px;
}
.airline{
    text-align: right;
    line-height: 30px;
    height: 45px;
    width: 120px;
}
.type{
    text-align: right;
    line-height: 30px;
    height: 45px;
    width: 120px;
}
.view{
    text-align: left;
    line-height: 5px;
    width: 145px;
    height: 45px;
}
.dottetBorder{
    border-bottom: thin dotted black;
}
.imgHolder{
    line-height: 80px;
    width: 250px;
    height: 75px;
    color: blue;
}
li{
    background-color: #5e65cc;
    width: 250px;
    height: auto;
    font-size: 25px;
    color: white;
}
ul
{
    list-style-type: none;
}

