body {
    margin: 0;
    position: relative;
}
.pagecontent {
    width: 100%;    
    position: absolute;
    bottom: 30%;
    text-align: center;
}
.addtrip {
   background-image: url("https://images.pexels.com/photos/34020/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-attachment: fixed;
    background-position: 95% 0%; 
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.page-wrapper {
    background-image: url("http://caitflanders.com/wp-content/uploads/2016/05/intentional-lifestyle-bag.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 60%; 
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
nav {
    width: 100%;
    height: 50px;
    background: rgba(19, 35, 47, 0.9);
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px;
    position: fixed;
    top:0;
}
nav .nav{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    width: 7%;
    text-align: center;
    border-radius: 25px;
    border:1px solid white;
    color: #1ab188;
    padding: 10px;
    float: right;
    margin: 2px 20px 0 0
}
nav img {
    width: 50px;
    margin-left: 30px;
    float: left;
}
h1 {
    font-size: 70px;
    color: saddlebrown;
}
hgroup {
    display: block;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
}
h2 {
    margin-bottom: 0;
}
h3 {
    margin-top: 10px;
}
section {
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
   
}
.cust-button {
    text-decoration: none;
    z-index: 100;  
    background: rgba(19, 35, 47, 0.9);
    color: #1ab188;
    padding: 10px;
    width: 20%;
    max-width: 600px;
    border-radius: 18px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.7);
    float: left;
    font-size: 28px;
    font-weight: 700;
    border: 1px solid #a0b3b0;
}
.nav:hover, .cust-button:hover {
    border: 1px solid black;
    text-decoration: none;
    background: #1ab188;
    opacity: 0.9;
    color: white;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
}